@font-face {
  font-family: 'OldEnglishFive';
  src: url('OldEnglishFive.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body { 
  margin: 0; 
  overflow: hidden;
  font-family: sans-serif;
}
#mindar-container { 
  width: 100%;
  height: 100%;
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 1; 
}
#experience-menu {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 100;
}
.thumb {
  max-width: 5em;
  cursor: pointer;
  margin: 0 10px 0 0;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  filter: brightness(.6);
  opacity: .6;
}
.thumb:hover, .thumb:active, .selected {
  filter: brightness(1);
  transform: scale(1.05);
  opacity: 1;
}
#credits {
  position: absolute;
  bottom: 10px;
  right: 0;
  text-align: left;
  z-index: 100;
  color: white;
  letter-spacing: .03em;
}
#attribution { 
  float: right;
  padding: 5px 20px 5px 10px;
  color: white;
  font-size: 0.7rem;
  letter-spacing: .03em;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  background: rgba(0,0,0,.5);
  transition: opacity 0.4s ease-in-out, width 0.4s ease-in-out; /* Added transition for width */
  opacity: .75;
  width: 100px; /* Initial smaller width */
  overflow: hidden;
}
#attribution:hover {
  width: 150px;
}
#attribution:hover, #attribution:active {
  opacity: 1;
}
#attribution.open {
  background: rgba(0,0,0,1);
  opacity: 1;
  width: 200px; /* Expanded width */
}
#attribution::before {
  content: '✨ ';
}
#attribution a {
  color: aqua;
  text-decoration: none;
  cursor: pointer;
}
#attribution a:hover {
  color: lime;
}
#attribution span {
  cursor: pointer;
}
#site-credits {
  padding: 0 0 0 20px;
  margin: 0;
  height: 0; /* Initially collapsed */
  overflow: hidden; /* Ensure no content shows outside the div when collapsed */
  opacity: 0; /* Fully transparent initially */
  transition: height 1s ease, opacity 1s ease;
}
/* Visible state */
#site-credits.show {
  height: auto;
  margin-top: 10px;
  padding: 0 0 10px 20px;
  opacity: 1; /* Fully visible */
}
#site-credits li {
  margin-bottom: 5px;
}
.gg-chevron-down-o {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  transform: scale(var(--ggs, .65));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 100px;
  vertical-align: middle;
}
.gg-chevron-down-o::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  left: 6px;
  top: 5px;
}
#logo {
  font-family: 'OldEnglishFive', sans-serif;
  font-size: 1.5rem;
  padding: 0 15px 0 0;
  transition: all 0.4s ease-in-out;
  opacity: .75;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6),  /* Close glow */
               0 0 20px rgba(255, 255, 255, 0.4),  /* Mid glow */
               0 0 30px rgba(255, 255, 255, 0.2);  /* Far glow */
}
#logo a {
  color: white;
  text-decoration: none;
}
#logo:hover, #logo:active {
  opacity: 1;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.9),
               0 0 30px rgba(255, 255, 255, 0.7),
               0 0 40px rgba(255, 255, 255, 0.5);
  filter: brightness(2); /* Increase brightness */
  transform: scale(1.1); /* Optional: Slightly scale the text on hover */
}